build/
Build/
out/
bin/
obj/
cmake-build-*/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/
x64/
x86/

*.o
*.obj
*.lo
*.slo
*.ko
*.a
*.lib
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf
*.bin

# ===== CMake =====
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
*.cmake.user
Makefile.in

# ===== Autotools =====
Makefile
config.status
config.log
autom4te.cache/
aclocal.m4
configure
config.h.in~
.deps/
.libs/
stamp-h1

.idea/
*.iml
.vs/
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.sln
.vscode/